@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

body {
  background-image: linear-gradient(
    to right,
    rgb(61, 142, 217),
    rgb(115, 165, 212),
    rgb(38, 46, 54),
    rgb(57, 74, 91)
  );
  background-size: 300%;
  background-position: left;
  user-select: none;
  min-height: 100vh;
  transition: 1s ease;
}
